.logo{
    height: 18px;
}

.bg-white{
    background-color: #fff;
}

.bg-grey{
    background-color: #1F1F1F;
}

#jumbo{
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/jumbo-bg.png);
}

#itt{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center center;
}

.border-img{
    border-radius: 20px;
}

.hover:hover{
    border-radius: 20px;
    border: 2px solid #0072CE;
    padding: .25rem;
    overflow-y: hidden;
}

.new-games div:hover img {
    scale: 1.1;
}

.card{
    border: none !important;
}

.selected{
    border-bottom:3px solid #0072CE !important;
}

.row.accessori .card .card-body:hover{
    border-bottom:3px solid #0072CE;
    opacity: 1 !important;
}