/* NOTE Colori BG */

.bg-white{
    background-color: #fff;
}

.bg-grey{
    background-color: #1F1F1F;
}

.bg-lightgrey{
    background-color: #BEBCBB;
}

.bg-blu{
    background-color: #161C3B;
}

.bg-footer{
   background-color: #00439C;
}

/* NOTE Altezze Fisse */
.logo{
    height: 18px;
}

.logo-footer{
    height: 4em;
}

.bg-footer .language img{
    height: 1.5rem;
}

/* NOTE Row full screen */

#jumbo{
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/jumbo-bg.png);
}

#itt{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center center;
}

.border-img{
    border-radius: 20px;
}

.card{
    border: none !important;
}

footer ul{
    padding-left: 0 !important;
    list-style-type: none;
}

.fit{
    width: fit-content;
}

/* NOTE Effetti */

.transition{
    transition: all 0.5s ease-in-out;
}

.hover{
    border-radius: 20px;
    border: 2px solid #fff;
    padding: .25rem;
    overflow-y: hidden;
}

.selected{
    border-bottom:3px solid #0072CE !important;
}

.hover:hover{
    border-color: #0072CE;
}

.row.accessori .card .card-body:hover{
    border-bottom:3px solid #0072CE;
    opacity: 1 !important;
}

.new-games div:hover img {
    border-radius: 25% !important;
    scale: 1.2;
}

.row.accessori .card .card-body{
    border-bottom:3px solid #fff;
}

.social .row div img:hover{
    scale: 0.9;
    border-radius: 10%;
}

/* NOTE Pulsanti */

.btn:hover{
    box-shadow: 0px 0px 0px 3px white inset, 0px 0px 5px grey !important; 
}